* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
height: 100vh;
background: linear-gradient(yellow 15%, red 70%);
}

#topContainer {
height: 200px;
width: 700px;
background: rgb(61, 180, 61);
box-shadow: 0 1em 2em black;
border-radius: 30px;
}

#addBtn {
width: 70px;
}

#currentTasks {
color: white;
text-shadow: 1px 1px 0px black;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}