* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(black 20%, red 90%);
}

#topDiv {
    display: flex;
    height: 250px;
    width: 100vw;
    background: gray;
    opacity: .5;
    justify-content: space-evenly;
}

.homeDiv {
    height: auto;
    width: 400px;
    border-left: 12px solid black;
    border-right: 12px solid black;
    border-radius: 20px;
}