* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    background: linear-gradient(rgb(43, 43, 43) 110%, black 80%);
}

#topDiv {
    display: flex;
    height: 250px;
    width: 100vw;
    background: linear-gradient(rgb(43, 43, 43) 80%, black 110%);
    justify-content: space-evenly;
    border-bottom: none;
}


#centerDiv {
    display: flex;
}

#centerBtn {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background: linear-gradient(white 20%, turquoise 80%);
    border: 3px solid white;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 1px 15px 20px 1px ;
}

.bar {
    text-align: center;
    height: 70px;
    border-radius: 10px;
    font-family: 'Teko';
    font-size: 30px;
    box-shadow: 1px 15px 20px black;
    background: linear-gradient(white 70%, rgb(218, 217, 217) 90%);
    opacity: .7;
    border: 1px solid white
}

.submit {
    background: linear-gradient(white 20%, turquoise 80%);
    color: white;
    height: 70px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    text-shadow: 4px 4px 2px 20px black;
    box-shadow: 1px 15px 20px black;
    border: 1px solid white;
}

.homeDiv {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 400px;
    border-radius: 50px;
    justify-content: space-evenly;
    
}

#bottomDiv {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 80vh;
}

.holderDivs {
    height: 90%;
    width: 30%;
    border-radius: 20px;
    border: 7px solid ;
    background: linear-gradient(black -35%, gray 70%, darkgray 100%);
    box-shadow: 1px -15px 80px black;
}

#searchDiv {
    align-items: center;
}